[2019-04-09 19:38] ammario opened #2 "ci"

[2019-04-14 03:50] ammario opened #3 "shell autocompletes"
- [ ] bash
- [ ] fish

[2019-04-14 03:51] ammario opened #4 "ensure good help for every command"

[2019-04-14 03:52] ammario opened #5 "full-blown, high quality docs"

[2019-04-14 03:52] ammario opened #6 "Add ability to edit a hat"

[2019-04-14 03:52] ammario opened #7 "Add ability to change a project's hat"

[2019-04-14 03:52] ammario opened #8 "Persist project UI state between edits"

[2019-04-14 03:53] ammario opened #9 "Make the build container use temporary name instead of main container"

[2019-04-14 03:53] ammario opened #10 "Add some tests"

[2019-04-14 03:56] ammario opened #11 "Use local docker daemon version when creating client"
E.g

[code]

Client version has to match server version exactly...

[2019-04-15 00:01] ammario opened #12 "dind support"

[2019-04-15 21:29] ammario opened #13 "mac support for nohup-opening native process"

[2019-04-16 16:56] nhooyr opened #17 "setup CI"
GitHub actions should work reasonably well.

[2019-04-16 16:56] #17 closed, assigned to nhooyr

[2019-04-16 20:36] nhooyr opened #20 "switch to docker cli"
I think we should switch to make it easier to debug and work with as we can rerun failing commands to see what's happening.

Furthermore, there are some things the cli does that the Go lib doesn't, e.g. if the volume mount src doesn't exist, the cli creates it. I just ran into this as I did not have a `~/.config/Code` directory.

@ammario

[2019-04-16 22:00] #11 closed, assigned to nobody

[2019-04-16 22:14] #8 closed, assigned to nobody

[2019-04-16 22:15] #20 closed, assigned to nobody

[2019-04-16 23:25] #7 closed, assigned to nobody

[2019-04-17 15:34] #9 closed, assigned to nobody

[2019-04-17 15:41] nathanpotter opened #26 "hat: cache github hat to deterministic local location"
When resolving a github hat, it currently caches it to a local tmp directory. This means we have to store the hat name as `/tmp/{rand}/{hat}` instead of `github:{org}/{hat}` in order to preserve hat edits.

It would be nice to cache these git pulls to a local deterministic location so we can keep the `github:{org}/{hat}` naming scheme to show the true hat source.

[2019-04-17 15:41] #6 closed, assigned to nobody

[2019-04-17 18:17] #26 closed, assigned to nobody

[2019-04-17 20:03] nhooyr opened #30 "autocreate mount directories if they don't exist"
see #20

[2019-04-17 21:18] #4 closed, assigned to nobody

[2019-04-18 01:40] ammario opened #34 "Edit hat in real time"
`sail edithat --watch ~/Projects/ammario/dotfiles codercom/code-server` could open an inotify on the directory and rebuild code-server with the hat automatically.

[2019-04-18 02:04] ammario opened #35 "Install VS Code extensions from hat"
In an ideal world, projects specify what extensions they require via `code-server --install-extension`, and hats are able to personalize the same way.

In order for this to be practical:

- [ ] we must add support in `sail` for a command that generates Dockerfile declarations for the host installed VS Code extensions.
- [ ] we must add a plugin to code-server to append newly installed extensions t

[2019-04-18 21:24] nhooyr opened #38 "remove enforcement of ~/Projects directory"
I don't see any reason we need to force a directory structure on users. We can act just like git.

[2019-04-18 21:39] nhooyr opened #39 "Use :0 to listen on arbitrary port instead of sail doing net.Listen"
Confusing on macOS otherwise as I got prompted to allow sail to listen but sail doesn't really need to listen itself.

[2019-04-19 15:38] scsmithr opened #43 "nohup.Start does not error if command doesn't exist"
Causes browserapp.Open to not error if google-chrome doesn't exist (the binary is named google-chrome-stable on arch).

[2019-04-20 16:06] kylecarbs opened #47 "subcommand to remove containers"
sail wasn't updating my code-server. I assume its because I have sails using the binary still. should be clear on how to resolve this

[2019-04-20 18:51] kylecarbs opened #48 "chown mounted directories"
Mounted dirs will use the root user by default. After mounting we need to `chown`

[2019-04-22 01:01] nhooyr opened #50 "ubuntu dev go share mod does not share from $GOPATH"
https://github.com/codercom/sail/blob/b19d719fb5c1f96600d4e6a092b03208425a220a/ubuntu-dev/ubuntu-dev-go/Dockerfile#L13

It only shares the default $GOPATH directory. I use `~/Programming/gopath` and sail is not picking that up.

I'm not really sure what a good solution here is.

[2019-04-22 01:52] nhooyr opened #52 "will not work on multi user systems"
On any system where the user uid is not 1000, like macOS or multiple user systems, sail will be very slow due to the `usermod -u` step to adjust the uid inside the container to the one outside because it has to chown all files in the home folder.

I do not have a good solution for this.

See #51

[2019-04-22 02:00] nhooyr opened #53 "Only listen on 127.0.0.1"
We shouldn't be listening on 0.0.0.0 by default

[2019-04-22 02:09] nhooyr opened #54 "use open chrome as app code from sshcode"

[2019-04-22 15:28] kylecarbs opened #55 "forward x11 socket on linux"
[code]

[2019-04-22 18:51] #53 closed, assigned to nobody

[2019-04-22 19:24] #54 closed, assigned to nobody

[2019-04-22 19:29] scsmithr opened #61 "Should accept http/https in git clone address"
Trying to run sail on a remote server, don't want to set up ssh:

[code]

[2019-04-22 19:37] #43 closed, assigned to nobody

[2019-04-22 20:13] scsmithr opened #63 "Should pull codercom/ubuntu-dev image"
[code]

(Using a modified sail to allow for https cloning)

[2019-04-22 20:15] scsmithr opened #64 "Don't fail on missing dirs/files when trying to bind mount"
[code]

[2019-04-22 20:29] #63 closed, assigned to nobody

[2019-04-22 22:34] nhooyr opened #66 "use underscores instead of hyphens to replace slashes for container names"
Hyphens are used in GitHub orgs/usernames and so things will get confusing when someone has a project at

[code]

and the sail container name becomes

[code]

The following would be much cleaner and is guaranteed to be never used by any github org/project (see https://github.com/isaacs/github/issues/906)

[code]

[2019-04-22 23:03] #47 closed, assigned to nobody

[2019-04-23 15:50] #66 closed, assigned to nobody

[2019-04-23 15:56] #30 closed, assigned to nhooyr

[2019-04-23 15:56] #64 closed, assigned to nobody

[2019-04-23 18:31] #39 closed, assigned to nhooyr

[2019-04-24 19:20] kylecarbs opened #72 "Open subdirectories"
I frequently open `lib/vscode` within code-server.

Maybe
[code]

[2019-04-25 15:47] ammario opened #74 "Automatic base image selection for repos without sail dockerfile"
If we can cover 80% of developers (probably top 5 languages or something) we're good for now.

[2019-04-25 18:30] ammario opened #75 "docs: running GUI apps"
- x11 forwarding
- `host` command (when it becomes available)

[2019-04-25 21:21] #13 closed, assigned to nobody

[2019-04-25 22:03] #10 closed, assigned to nobody

[2019-04-26 20:47] nathanpotter opened #82 "sail rm should kill proxy"
This flow can leak proxies:

1) `sail run codercom/sail`
2) `sail rm codercom/sail`
3) `sail run codercom/sail`

Two proxies will be running and the first one will be leaked

[2019-04-26 20:51] #82 closed, assigned to nobody

[2019-04-26 23:34] #3 closed, assigned to nobody

[2019-04-28 18:50] ammario opened #85 "docs: tutorial section"
- [ ] adding sail to your repo

[2019-04-28 23:20] nhooyr opened #86 "Add control mode for chrome extension"

[2019-04-29 12:14] nhooyr opened #87 "proxy: Stream sail edit stderr/stdout to code-server"
So that it can display the docker build log.

[2019-04-29 13:48] nhooyr opened #88 "Make sail edit a hidden command"
No purpose in exposing it once you can edit Dockerfile inside code-server

[2019-04-29 18:42] #87 closed, assigned to nhooyr

[2019-04-29 19:10] nhooyr opened #93 "Our base image should be based on codercom/code-server"
Stuff like locales and sudo is already set up there, we shouldn't duplicate it.

[2019-04-29 21:07] #74 closed, assigned to nathanpotter

[2019-04-30 00:23] #55 closed, assigned to nobody

[2019-04-30 00:24] #5 closed, assigned to ammario

[2019-04-30 14:28] #86 closed, assigned to nhooyr

[2019-04-30 15:16] ammario opened #97 "Have two directories for extensions"
So we can have declarative extensions merged with willy nilly extensions

[2019-04-30 15:17] #35 closed, assigned to nobody

[2019-04-30 15:20] nhooyr opened #98 "edit hat in code-server"
I already wrote the proxy and whatnot. Going to work on the javascript part for this, or at least try.

[2019-05-01 22:27] #34 closed, assigned to coadler

[2019-05-02 19:13] nhooyr opened #107 "edit user hat in code-server"
See #98 and https://github.com/cdr/sail/pull/104/files#r280556409

[2019-05-02 19:14] #85 closed, assigned to nobody

[2019-05-02 19:14] #75 closed, assigned to nobody

[2019-05-03 20:07] coadler opened #109 "Separate projects by host"
Instead of storing projects at `~/Projects/cdr/code-server`, we should also separate them by host like `~/Projects/github.com/cdr/code-server` so multiple projects don't overlap

[2019-05-07 15:52] ammario opened #110 "ext install alias"
`code-server --install-extension` is too long.. Let's put an `install_ext` script in `ubuntu-dev` that proxies.

[2019-05-14 20:19] nathanpotter opened #113 "Add vim and emacs support"

[2019-05-19 16:33] ammario opened #114 "cachePath no longer has version in it?"
See adfe2e528ecffbc7f9e380156ed2674bc5940b4b

appears to force us to re-download code-server every hour

cc @nathanpotter

[2019-05-19 16:49] ammario opened #115 "shouldn't fail-the-world on ls if can't find a single label"

[2019-05-19 18:50] ammario opened #116 "Annoying allow clipboard popup for each new port used"
A possible janky solution is iterating ports in a deterministic order, so the user only has to allow clipboard when they have an exceptional number of editors open.

cc @kylecarbs

[2019-05-19 18:59] ammario opened #117 "UI state does not persist during reload"

[2019-05-19 19:35] #98 closed, assigned to nhooyr

[2019-05-19 20:02] #114 closed, assigned to nobody

[2019-05-19 20:02] #115 closed, assigned to nobody

[2019-05-19 22:46] ammario opened #120 "busy code-server bin"
We need to do an atomic replace of the code-server bin for updates to work correctly

[2019-05-19 23:07] ammario opened #121 "Integrated Editing: Container should only be rebuilt on explicit saves"
Right now it's rebuilt on auto-save which is basically unusable

[2019-05-20 00:07] nhooyr opened #122 "chrome always asks if you want to leave the app"
pretty obnoxious

[2019-05-20 18:39] ammario opened #125 "sail.dev/docs should redirect to introduction"
right now it's a blank page

[2019-05-20 23:04] #97 closed, assigned to ammario

[2019-05-20 23:48] ammario opened #128 "BitBucket support"

[2019-05-20 23:52] #125 closed, assigned to ammario

[2019-05-21 00:00] nathanpotter opened #129 "Custom 404 page for docs"
Currently responds with an XML doc

[2019-05-21 00:14] #110 closed, assigned to nobody

[2019-05-21 00:16] #61 closed, assigned to coadler

[2019-05-21 00:39] #120 closed, assigned to nobody

[2019-05-21 01:10] ammario opened #131 "Generate site in Docker container"
Hugo build output changes dramatically between versions

[2019-05-21 01:14] ammario opened #132 "docs: sidebar should disappear on thin screens"

[2019-05-21 17:49] roberthmiller opened #136 "Properly kill a sail instance?"
Hello,

I was just using sail, but was not able to find where to close the sail instance (docker container) without killing it via `docker kill (image id)`. Shouldn't this be done when the app window closes?

[2019-05-21 18:21] scottymcraig opened #138 "Upper Case Repo Names Fail"
When a repo has uppercase letters in the name, the build fails because docker can't have uppercase letters in the name.

`invalid argument "scottymcraig_CEMASail" for "-t, --tag" flag: invalid reference format: repository name must be lowercase`

[2019-05-21 18:33] nhooyr commented on #136
You want `sail rm`.

We don't close it when the app window closes in case you're reloading and want to resume with your session intact.

[2019-05-21 18:43] Magistern opened #139 "Anything else I need to know?"
Seems go was also a prerequisite, and not just git, docker and chrome. After figuring that out, trying to instal sail using your docs, I get:
[code]

[2019-05-21 20:18] #138 closed

[2019-05-21 20:36] nathanpotter commented on #139
Hey @Magistern, thanks for trying out Sail and sorry about the missing docs on the installation process.

I'll open a PR to update the docs with more details about installing with go.

In the meantime, you should be able to install the sail binary through our [releases page](https://github.com/cdr/sail/releases).

So that I can better understand the issue you're facing with the go installation, co

[2019-05-21 20:36] roberthmiller commented on #136
Understandable, but... with code-server, you do not know the exact port (a random one is selected). How would you go about reloading?

[2019-05-21 20:40] nhooyr commented on #136
`sail ls`

[2019-05-21 20:41] roberthmiller commented on #136
Ah, didn't realize that. Thanks.

[2019-05-21 20:41] #136 closed

[2019-05-21 20:41] nathanpotter commented on #136
Hey Robert, thanks for trying out Sail!

If you exit out of your app window, you should be able to load a new window with the running environment by calling `sail run <org/repo>`.

If you want a clean and new environment, you can run `sail run --rm <org/repo>` to remove the original container and environment, then launch into a new one.

[2019-05-21 20:43] roberthmiller opened #141 "chrome extension: Change the logo?"
![image](https://user-images.githubusercontent.com/23535075/58129309-7a3d2480-7be7-11e9-87c4-bbaaad823766.png)

This is the current image.

Is it possible to change it to:
![image](https://user-images.githubusercontent.com/23535075/58129343-89bc6d80-7be7-11e9-82ef-ba2984e8e84e.png)

Edit:
The second image that I posted is the favicon for sail.dev.

[2019-05-21 20:47] roberthmiller commented on #136
Ah, thanks. I guess I was just too lazy to check the docs... My bad. :eyes:! Thanks!

[2019-05-21 20:50] nathanpotter commented on #141
@kylecarbs

[2019-05-21 21:12] stratosgear commented on #139
No the original poster, but I have the same issue as @Magistern and my `go env` shows:

[code]

[2019-05-21 21:16] roberthmiller opened #143 "Does this not work with private repos?"
I have the repo below which is private (for my home automation stuff).
![image](https://user-images.githubusercontent.com/23535075/58131043-9d69d300-7beb-11e9-8551-884ca3084b0a.png)

I ran: `sail run roberthmiller/home-automation`
![image](https://user-images.githubusercontent.com/23535075/58131215-15d09400-7bec-11e9-9810-fbdb8d269164.png)

Any ideas what I could do here?

[2019-05-21 21:16] nathanpotter commented on #139
Thanks for sending that over, can you try `go get -u go.coder.com/sail` to see if that fixes it? I think the docs are incorrect on the installation. Let me know if that fixes the issue and I'll update the docs accordingly.

If the `go get` still doesn't work because of go mod issues for some reason, you should be able to run:
[code]

[2019-05-21 21:19] nathanpotter commented on #143
It should still work if your git client is configured properly.

The error you're seeing is because Sail tries to determine what language your project is written in through the github API to determine which sail base image to use if your project hasn't specified a `.sail/Dockerfile`.

Since this is a best effort try and the github client isn't authenticated, it will fail on private repos.

[2019-05-21 21:20] roberthmiller commented on #143
This is my `.sail/Dockerfile`

[code]

I just wanted the basic setup.

[2019-05-21 21:28] nathanpotter commented on #143
Hmm, interesting, does the `.sail/Dockerfile` exist in `~/Projects/roberthmiller/home-automation`? If not, you may need to do a `git pull` in your `~/Projects/roberthmiller/home-automation` directory to pull the latest changes.

If the git project already exists in that directory, then it will just use the files located there and won't run `git pull` or anything in case you have uncommitted change

[2019-05-21 21:31] roberthmiller commented on #143
No files exist in that directory because it was not able to clone it. I think the problem is that it is private, so you cannot simply use a normal git clone without aditional setup. ie: adding keys to the image or something similar. Possibly sharing the ssh agent would be a good idea. Is this possible?

[2019-05-21 21:33] roberthmiller commented on #143
Also, it clones the repo via https which is a problem for 2FA users (ssh keys are required). maybe, there should be some config for sail to allow for things such as *clone via ssh* an option?

[2019-05-21 21:41] nathanpotter commented on #143
It clones on the host side, outside of the container, so it should use the git client that you've configured.

You should be able to specify ssh cloning via `sail run ssh://github.com/roberthmiller/home-automation.git`

It will clone using ssh by default if a schema isn't specified though

[2019-05-21 21:42] roberthmiller commented on #143
hm, so it should automatically clone via ssh if I run: `sail run roberthmiller/home-automation`?

[2019-05-21 21:43] nathanpotter commented on #143
Yeah it should by default if you haven't changed your sail config

[2019-05-21 21:44] roberthmiller commented on #143
Hm, that is odd then.. Not sure why it did not work initially, but it seems to be fine now.

[2019-05-21 21:44] roberthmiller commented on #143
Thanks for your help :smile:

[2019-05-21 21:44] #143 closed

[2019-05-21 21:44] nathanpotter commented on #143
No problem!

[2019-05-21 23:32] #139 closed

[2019-05-22 03:28] linux-china opened #144 "default_host in sail.toml doesn't work"
I changed default_host in sail.toml to internal git host,  then run the sail with following command.

[code]
and Sail reports following error:

[code]

and I find the "github.com" is literal for host absent in  https://github.com/cdr/sail/blob/master/repo.go

[code]

If host is absent, could we use default_host in sail.toml?

[2019-05-22 03:53] linux-china commented on #109
@ammario  if you use github.com and internal git hosting, and there may be conflicts with same namespace and repo name.  Another consideration is separation, and I don't want internal kubernetes applications under github.com kubernetes namespace, and it's confused.

[2019-05-22 04:53] saji89 commented on #128
Please add bitbucket support.

[2019-05-22 05:42] Magistern commented on #139
I tried go get -u go.coder.com/sail and it started downloading some stuff, but `sail --help`does nothing
I tried ```
mkdir $HOME/src
cd $HOME/src
git clone https://github.com/cdr/sail.git
cd sail
go install
[code]

[2019-05-22 05:43] Magistern commented on #139
[code]

[2019-05-22 09:03] stratosgear commented on #139
`go get -u go.coder.com/sail` seemed to execute with no obvious errors/warnings, but there was no sail executable installed anywhere, so that failed.

[code]
I didn't understand why this had to be installed under my $HOME folder so I tried to do the git clone (and everything that follows) under `/mnt/data/projects/go/src` folder, where I have set my GOPATH folder.  That failed!  Then I tried under

[2019-05-22 09:25] Magistern commented on #139
how do you get `sail` to be a recognized command in Terminal? There's no info on that.
I can find sail in my `~/go/bin/` folder and run it using `./sail` but that doesn't help the Chrome browser plugin.

[2019-05-22 10:03] stratosgear commented on #139
I see you're on macos and I'm in linux, but I bet your `~/go/bin` is not in your PATH. Maybe that would help with the chrome extension too (I have not tried it yet)

[2019-05-22 10:07] Magistern commented on #139
Probably, then perhaps that should go in the installation instructions as well...
How do I do it?

[2019-05-22 10:22] Magistern opened #145 "chrome extension error"
O boy, this is why you want sail to just work. Not having to spend half a day getting things to work like it says in the documentation...
So now that I finally got sail to get installed and start in terminal, I was hoping for the Chrome plugin to work, but no, of course not. I did `sail install-for-chrome-ext`
[code]

[2019-05-22 13:03] stratosgear commented on #139
Well, that is part of the installation instructions when you install go.  Once again, not sure about macos but you should edit some .bashrc file? on your home directory and append the `~/go/bin` to an `export PATH=/some/path;/another/path` definition?

Which brings us back to your original issue, that go is a prerequisite for this tool.

[2019-05-22 14:33] ammario opened #146 "Reduce gif length"
We want the gif to showcase the click open, and not the edit.

[2019-05-22 15:04] scsmithr opened #147 "--no-open flag ignored"
`sail run --no-open cdr/code-server` will still open an editor session.

[2019-05-22 15:11] nathanpotter commented on #139
Hey @Magistern, you need to have `$GOPATH/bin` added to your `$PATH` as stratosgear mentioned.

Also, go isn't a dependency to sail, only if you want to install it from source and mess with the source code. I'll update the docs again to specify installing that way isn't recommended unless you're actually changing the source.

It's recommended that you install it from the [releases page](https://gi

[2019-05-22 15:28] nathanpotter commented on #139
https://superuser.com/questions/284342/what-are-path-and-other-environment-variables-and-how-can-i-set-or-use-them

[2019-05-22 15:41] ammario commented on #145
That error is actually masking another one. @kylecarbs is pushing a fix so the terminal tooltip stays open and you can see what the full error is!

[2019-05-22 15:46] nathanpotter commented on #144
Hey @linux-china, thanks for trying out Sail, and for investigating the issue! This should be a pretty quick fix that I'll get pushed out today

[2019-05-22 15:49] coadler commented on #109
@linux-china To be fair, it's currently possible to use multiple hosts since `sail run` will accept a host

`sail run my.private-git.com/user/repo`

The only time we will run into issues is if two git hosts share the same user/repo name

[2019-05-22 15:52] ammario opened #149 "Improve README"
Should have installation instructions and basic usage... A lot of people might not want to visit the docs.

[2019-05-22 15:57] nhooyr opened #150 "install script for linux/darwin"
- [ ] ubuntu
- [ ] debian
- [ ] arch
- [ ] macOS (homebrew)
- [ ] centOS
- [ ] fedora
- [ ] alpine

[2019-05-22 15:58] ammario commented on #109
We want the Sail project folder to be structured as closely as a dev would normally structure their projects folder. I don't know any devs (except Go ones, by force) which have their Git host in their project path.

A possible solution is changing `project_path` to be a mapping of regex to project directories. Then, one could easily redirect all projects related to a particular Git host or organiz

[2019-05-22 16:00] nhooyr commented on #150
I can work on the homebrew formula.

[2019-05-22 16:01] ammario commented on #38
Related to #109

[2019-05-22 16:02] ammario commented on #150
Would be awesome!

[2019-05-22 16:02] linux-china commented on #145
@Magistern  if you use Mac, please open terminal and open Chrome with following command:

[code]

I debuged the JS code, and find the problem, almost like docker path problem.

[code]

almost like above.  I think @ammario  can fix $PATH problem on Mac.

[2019-05-22 16:02] nhooyr commented on #150
I also want to mention I really like how yarn documents the installation process:

<img width="1354" alt="Screen Shot 2019-05-22 at 12 02 03 PM" src="https://user-images.githubusercontent.com/10180857/58189927-6fd36700-7c89-11e9-8db0-116fbe8d9d58.png">

Instead of a giant list, you just select your OS and the yarn version you want and you get the information you need.

[2019-05-22 16:02] ammario opened #151 "Windows support investigation and documentation"

[2019-05-22 16:06] ammario commented on #150
That's very pleasant.

Will require finagling to work with our Hugo docs.

[2019-05-22 16:07] ammario commented on #150
I think we should split this into an issue for Homebrew and Ubuntu. The other ones are too niche to be worth our time atm imo.

[2019-05-22 16:07] nhooyr commented on #150
Another approach we can take is just to have a install script for now as the above process will take a long time. The install script can be relatively simple, just downloads the binary from github and places it in `/usr/local/bin/sail`, creating `/usr/local/bin` if it does not already exist.

[2019-05-22 16:07] ammario opened #152 "Ubuntu/debian package"
Bonus points for getting this into `apt`

[2019-05-22 16:08] ammario commented on #150
I like that... `curl sail.dev/install.sh | bash`

[2019-05-22 16:21] ammario commented on #147
I believe this happens when you're running a project that already has a container.

[2019-05-22 16:22] ammario opened #153 "Tests require no Sail containers?"
This makes it very hard to test on the same machine that's using Sail for development. Why is this necessary?

[2019-05-22 16:22] ammario opened #154 "Write CONTRIBUTING"

[2019-05-22 16:34] nathanpotter commented on #153
This was added in because I was originally using cdr/sail as a repo for testing, so if I was developing in it, the tests wouldn't be in the right state and would fail.

I'll adjust this so that it only checks that the repos being used for the tests aren't up and running.

[2019-05-22 16:36] ammario commented on #145
@kylecarbs is there any reason why the `$PATH` would be different than the one on the host?

[2019-05-22 16:39] ammario commented on #117
Haven't seen this in a while. Might've been a transient issue. Will reopen if it comes back.

[2019-05-22 16:39] #117 closed

[2019-05-22 16:43] #144 closed

[2019-05-22 16:43] #153 closed

[2019-05-22 16:43] linux-china commented on #145
My env:  Mac, Chrome 74.0,  Docker Desktop for Mac, and docker command  is under /usr/local/bin.  If you open Chrome from Deck, and you will get $PATH problem with docker command not found.

[2019-05-22 16:54] roberthmiller opened #156 "chrome extension: only show "open with sail" when a `.sail` is found in dom."
It would be cool to have an `open with sail` button that only appears when there is `.sail` in the dom for the repo.

[2019-05-22 16:55] scsmithr opened #157 "Mutiple open in sail buttons when navigating files on github"
![image](https://user-images.githubusercontent.com/4040560/58193280-436b1b00-7c88-11e9-86e6-91b7bdc7e230.png)

1. Go to root of repo on github
2. Go to file or directory in repo
3. Go back, see extra sail button

[2019-05-22 16:56] scsmithr commented on #156
Sail should work with any repo, even if there isn't a `.sail`.

Sail will try to determine the major language for the repo and select an appropriate docker file to use.

[2019-05-22 17:11] roberthmiller commented on #156
![image](https://user-images.githubusercontent.com/23535075/58194284-1ec87080-7c93-11e9-849b-2c7a00997885.png)
then why does it hang?

[2019-05-22 17:28] nhooyr opened #159 "homebrew package"
Working on this rn.

[2019-05-22 17:28] nhooyr commented on #159
Related #150

[2019-05-22 17:28] nhooyr opened #160 "Ubuntu/debian PPA"
See #150

[2019-05-22 17:33] roberthmiller opened #161 "Add node and npm to `.sail/Dockerfile`"
This is because of the extension

[2019-05-22 17:37] linux-china opened #162 "Chrome extension: customized "open in Sail" button"
I want to add customized "open in Sail" button in my project management system and the developers just click the button to open project with Sail support. Is it possible to make Chrome extension recognize this button?   How to write the customized "open in Sail" html code?  like following? :)

[code]

[2019-05-22 18:08] nhooyr opened #163 "Add version flag"

[2019-05-22 18:30] roberthmiller commented on #162
This would be cool to see, although... not sure how that would be implemented.

[2019-05-22 18:37] roberthmiller commented on #163
I will open a PR for this to mimic sshcode's version flag.

[2019-05-22 18:44] nhooyr commented on #159
https://github.com/Homebrew/homebrew-core/pull/40190

[2019-05-22 18:52] scsmithr opened #165 "Sail run fails when host isn't specified"
Running `sail run scsmithr/test.com`  fails with
[code]

Running `sail run https://github.com/scsmithr/test.com` works correctly.

[2019-05-22 19:02] scsmithr commented on #165
Had an outdated sail.toml

[2019-05-22 19:02] #165 closed

[2019-05-22 19:03] Magistern commented on #145
I did and that worked fine. Now when I click the blue button "open in sail" it starts showing code in the terminal tool tip but stops and dissapears after a while.
I found the error log. It said:
[code]

[2019-05-22 19:05] Magistern commented on #139
Thanks. I guess Sail is for super users :D

[2019-05-22 19:06] nhooyr commented on #145
So the problem is the chrome extension is ignoring errors: https://github.com/cdr/sail/blob/ac1dfa97eaf75dedacac677cd0d81eee1a63b940/extension/src/content.ts#L121

[2019-05-22 19:07] nhooyr commented on #145
@kylecarbs

[2019-05-22 19:08] roberthmiller commented on #163
@nhooyr I am assuming that I should add docs for it, right?

[2019-05-22 19:11] nhooyr commented on #163
I don't think docs are necessary. Its an expected feature of all commands.

[2019-05-22 19:14] roberthmiller commented on #163
lol ok, I wrote them anyway... should I remove them? :cry:

[2019-05-22 19:15] nhooyr commented on #163
lmao, sorry about that. its best the docs remain lean.

[2019-05-22 19:16] #150 closed

[2019-05-22 19:17] roberthmiller commented on #163
Ok, no worries. will remove them. I am waiting for my other PR to get approved (I thought that I was only contributing one thing), then I rebase and open a PR for this as it's already done.

[2019-05-22 19:19] nhooyr commented on #163
You can just create a new branch and open another PR.

[2019-05-22 19:20] roberthmiller commented on #163
I branched off my master, so it contains things for the other PR. I think that would be messy :eyes:

[2019-05-22 19:25] roberthmiller opened #168 "update to workflow/sail_open.sh"
Not sure what the purpose of that file is... Any ideas?

[2019-05-22 19:29] roberthmiller commented on #168
Found it when searching through the docs, but.. I think that the command should change to be `run` instead of `open`

[2019-05-22 19:46] #147 closed

[2019-05-22 20:03] #161 closed

[2019-05-22 20:07] nathanpotter commented on #139
Lol, sorry for the painful setup experience you had. We've taken a lot of measures in the past day to ensure a more user friendly setup experience. Thanks for submitting the issues and helping us determine where our docs and process were lacking. I hope things are smoother for you now with the more recent updates.

[2019-05-22 20:08] nathanpotter commented on #168
Ah good find, that's a relic of the past, I'll update accordingly

[2019-05-22 20:09] roberthmiller commented on #168
I already have a PR

[2019-05-22 20:16] roberthmiller opened #171 "link gitconfig and ssh to `.sail/Dockerfile` via a share"
Is this something that we should do via a share just to make working with the repo easier?

Edit:
It is documented here: https://sail.dev/docs/concepts/labels/ as a recommendation, but is this something that we want?

[2019-05-22 20:16] nathanpotter commented on #168
closed via #170

[2019-05-22 20:16] #168 closed

[2019-05-22 21:05] #149 closed

[2019-05-22 21:16] ammario commented on #171
Not sure what you mean exactly.

`.gitconfig` and `.ssh` is already shared into the container by `ubuntu-dev`.

[2019-05-22 21:24] Magistern commented on #139
Excellent work on that part. Sail is installed and I can view the manual `sail --help`
All that remains now is to be able to use it as well.
trying `sail run cdr/code-server` ends with
[code]
and the log file above says:
[code]
But perhaps I should put that in a new issue?

[2019-05-22 21:26] ammario commented on #139
@nhooyr seems like this might be an issue with the reverse proxy

[2019-05-22 21:31] ammario commented on #156
It's probably hanging on a git prompt.

Try `pstree $(pidof sail)`

[2019-05-22 21:32] ammario commented on #156
The title of this issue doesn't make sense with the message

[2019-05-22 21:32] ammario opened #172 "Open With Sail button should change appearance if repo has sail"
It should be clear to the user that a repo intends to be used within Sail.

[2019-05-22 21:32] ammario commented on #156
Made a more specific issue #172

[2019-05-22 21:34] roberthmiller commented on #171
Hm, then maybe we should update the docs to note that both of them are auto?

[2019-05-22 21:38] nhooyr commented on #139
Not an issue with the reverse proxy. The container failed to start. If you do a `docker ps -all` then take the id of the container and plop it into `docker logs <id>`, it should show you why.

[2019-05-22 21:41] nathanpotter commented on #139
How large is your `~/.vscode/` directory? I wonder if the `chown -R user:user /home/user/.vscode` is taking longer than the 10 second timeout

[2019-05-22 21:43] nhooyr commented on #139
We should print out the `docker log` when it fails to start anyway.

[2019-05-22 21:43] roberthmiller commented on #171
Also, I am not sure that you understood what I meant..
![image](https://user-images.githubusercontent.com/23535075/58211134-1a16b300-7cb9-11e9-8df4-8be65aaefaed.png)
happens when I try to commit from inside the current sail instance.

[2019-05-22 21:43] nhooyr opened #173 "print docker logs when container fails to start"
See #139

[2019-05-22 21:47] roberthmiller commented on #122
![image](https://user-images.githubusercontent.com/23535075/58211322-98735500-7cb9-11e9-8cd1-bb8b9480be56.png)
Happens with extensions as well.

[2019-05-22 21:48] roberthmiller opened #174 "Should `sail rm` remove the directories as well?"

[2019-05-22 21:54] ammario commented on #174
What directories?

[2019-05-22 21:56] ammario commented on #171
Ahh, I think the `.gitconfig` share was removed at some point.

I think we can add it here

https://github.com/cdr/sail/blob/master/images/ubuntu-dev/Dockerfile#L1-L4

Any objections @nathanpotter ?

[2019-05-22 21:57] roberthmiller commented on #156
Changed the title based on my latest message. Also,
[code]
30444 tty2     Sl+    0:00 /home/robert/go/bin/sail chrome-extension://deeepphleikpinikcbjplcgojfhkcmna/
24460 tty2     Sl+    0:00 /home/robert/go/bin/sail run https://github.com/roberthmiller/su-scan.git
[code]
sail run roberthmiller/su-scan
[code]

[2019-05-22 22:01] roberthmiller commented on #174
The directories that were mounted into the containers

[2019-05-22 22:15] nathanpotter commented on #171
If the `~/.gitconfig` mount source doesn't exist, sail will create it as a directory by default. I think that's why we decided to keep it out of the ubuntu-dev image

[2019-05-22 22:18] nathanpotter commented on #171
I know we discussed for a bit with @nhooyr what we should do when a mount source doesn't exist, but I don't think creating the dir makes sense for a scenario like this.

Should we just log an error and not mount it in if it doesn't exist instead of creating it as a dir?

[2019-05-22 22:23] roberthmiller commented on #171
how would I go about mounting it without maintaining my own fork?

[2019-05-22 22:26] roberthmiller opened #175 "How do you access the host environment variables within the sail file?"
I am looking to add a share to my project.

How would I go about evaluating `dirname $SSH_AUTH_SOCK` before adding it to the share?

[2019-05-22 22:28] roberthmiller commented on #174
to be more specific, sail clones the project when running it. You can edit some code, then push it back to your origin. When you go to remove the sail image, should there be an option to remove the directories that were cloned as well (not do this by default)?

[2019-05-22 22:38] roberthmiller commented on #175
Possibly support a `--docker-flag` array of arguments that are directly passed to the docker command? Not sure if that would be the best solution though

[2019-05-22 22:59] linux-china commented on #145
The error almost like this:
[code]

[2019-05-22 23:32] linux-china opened #176 "Failed to start sail with "sudo chown -R" problem"
I built last snapshot of Sail, and I got the following error when run project:

[code]

and it's fine with Sail 1.0.0 version.

My env:   Mac with VS code installed already.

[2019-05-23 00:03] roberthmiller commented on #176
By" last snapshot", do you mean release?

What OS are you on?

[2019-05-23 00:04] roberthmiller commented on #176
Can you run `code-server` from the binary?

[2019-05-23 00:14] nathanpotter commented on #176
This may happen if you have a large `~/.vscode` directory, I'll create an issue for it

[2019-05-23 00:32] roberthmiller opened #177 "Improve documentation for hats."
I am trying to use hats myself, but I am having a hard time understanding the documentation. I I understand that there is supposed to be another file, but not entirely sure how it all ties in. Any insight? I can update the docs once I fully understand.

[2019-05-23 00:51] roberthmiller commented on #171
Realized that hats will do this for us.

[2019-05-23 00:51] #171 closed

[2019-05-23 01:26] roberthmiller opened #178 "Error when applying a default hat"
[code]

I have a default hat set which is below:

[code]

This is very similar to the example provided for [fish](https://github.com/cdr/sail/tree/master/hat-examples/fish). Not sure if I am doing something wrong.

sail.toml file:
[code]

~/sail directory
![image](https://user-images.githubusercontent.com/23535075/58219341-6e7d5b00-7cd8-11e9-9aa0-b6967959ca4c.png)

[2019-05-23 01:28] roberthmiller commented on #178
As a note: WIthout a default hat, I can work on sshcode without any problems.

[2019-05-23 02:34] linux-china commented on #176
@nathanpotter  it's correct and .vscode is large, and Docker logs as following:

[code]

[2019-05-23 02:47] roberthmiller opened #179 "example docker forwarding from host requires su"
When going through the docker example in the docs, I am unable to set the user permissions properly. I have tried `RUN sudo usermod -a -G docker $(whoami)`, but... that failed. Not sure what I could be doing wrong. Any insight would be great.

[2019-05-23 05:58] Magistern commented on #139
630M

[2019-05-23 06:14] adamgoose commented on #176
Might I propose a --no-extensions flag that would disable the mounting of the user's local extensions?

[2019-05-23 06:33] Magistern commented on #139
uninstalled a bunch of extensions now and got a new error:
[code]

[2019-05-23 10:56] roberthmiller commented on #176
Would this be similar to sshcode's nosync?

[2019-05-23 14:56] sr229 opened #180 "cd'ing to the project directory causes sail to fail"
I'm building a Katacoda interactive tutorial for Sail however, I encountered a strange bug where:

- cd'ing to the directory causes a permission denied error, causing the command to fail

[code]

This might be related to #176, and #48

[2019-05-23 14:56] sr229 commented on #180
For complete assurance of reproduction, use the official [Ubuntu Playground](https://katacoda.com/courses/ubuntu/playground) by Katacoda.

[2019-05-23 15:04] #163 closed

[2019-05-23 15:11] nathanpotter commented on #180
What does `id` show for you? Seems like this may be related to #52

[2019-05-23 15:19] coadler commented on #174
I don't think `sail rm` should delete data by default.

I think a good solution might be to add a `--with-data` flag to delete the project data as well.

[2019-05-23 15:21] nathanpotter commented on #178
Could you give some more details about the environment to help with debugging?
What is located in `~/sail`?
What is the command you ran to get the error output?

[2019-05-23 15:28] nathanpotter commented on #175
This is definitely a limitation currently with share labels. We've discussed evaluating environment variables in share paths, but thought it may get pretty messy.

The `--docker-flag` option could work, but on the other hand it may be overly generic. @ammario what are your thoughts?

[2019-05-23 15:32] roberthmiller commented on #178
the `~/sail` directory is provided as a screenshot of the dir.

The command that I ran was just `sail run cdr/sshcode`

[2019-05-23 15:32] roberthmiller commented on #174
I could create a PR for this if it is something that we actually want to happen.

[2019-05-23 15:41] nathanpotter commented on #177
Sorry for the docs lacking on hats, essentially hats allow a developer to put their own configuration on top of a repo's `.sail/Dockerfile` environment.

So if you like `zsh`, you can change your shell to `zsh`. If you have certain apt packages that you like to include in all of your environments, you can add that to your hat as well. If you store your `~/.gitconfig` or `~/.ssh` keys at uncommon l

[2019-05-23 15:44] sr229 commented on #180
@nathanpotter for Katacoda, its UID/GID 0

[2019-05-23 15:48] roberthmiller commented on #177
That is totally understandable, but how do I use them? I tried the example on sail.dev (also, in the repo somewhere and it did not seem to work as expected ). I kept getting the error in issue #178 (when it was actually attempting to apply) and sometimes it would simply just not apply. The proper command is `-hat`, right?

[2019-05-23 15:49] nathanpotter commented on #139
It appears that your docker daemon isn't running. Can you validate by trying to run `docker run hello-world`? See [docker for mac](https://docs.docker.com/docker-for-mac/#explore-the-application)

[2019-05-23 15:51] nathanpotter commented on #178
Ah I missed the screenshot, this is strange... What happens when you run `sail run --hat ~/sail cdr/sshcode`?

[2019-05-23 15:53] nathanpotter commented on #178
I'm getting the same error, I'll debug and update this issue with my findings

[2019-05-23 15:57] roberthmiller commented on #178
I was able to get the hat to apply, but the error persists.

[2019-05-23 16:08] nathanpotter commented on #175
Also, by default your `$SSH_AUTH_SOCK` should be mounted in if it exists

[2019-05-23 16:10] nathanpotter commented on #178
figured it out, we're not expanding the `~` and we don't seem to be returning the error from `applyHat` for some reason

[2019-05-23 16:12] roberthmiller commented on #178
should expanding the `~` be what is done?

[2019-05-23 16:14] nathanpotter commented on #178
I'm opening a PR right now and will update the release

[2019-05-23 16:16] roberthmiller commented on #175
Maybe, the reason why I thought not is because of `.gitconfig` re: #171. I still think that mounting envs would be useful (for example, NPM_TOKEN) which cannot be present in the `.sal/Dockerfile` since it is under source control.

[2019-05-23 16:28] #178 closed

[2019-05-23 16:40] roberthmiller opened #182 "Rename `--rm` to `--rebuild`"
I often find myself wanted to change the image in some way, but often times are unable to get to the source (within code-server) to rebuild.

As a current work around, I have to `sail rm org/repo` and then run it again. Do you guys thing that adding a rebuild is worth it?

[2019-05-23 16:43] nathanpotter commented on #182
`sail run --rm <org/repo>` should do what you want. It first removes the original container and then builds it fresh

[2019-05-23 16:44] roberthmiller opened #183 "the `~` alias"
Am having a hard time understanding why `~` is an alias for /home/robert inside the docker image.

Re:
![image](https://user-images.githubusercontent.com/23535075/58270727-7d0b5700-7d58-11e9-8719-c53991c44f7f.png)

Edit:
The proper alias should be `/home/user`

[2019-05-23 16:44] roberthmiller commented on #182
Ah, thought that just removed the image after exiting (that would be useful)

[2019-05-23 16:51] roberthmiller commented on #182
What are your thoughts on a rename?

[2019-05-23 16:52] nhooyr commented on #176
The fix is to remove the `-R`.

[2019-05-23 16:53] nhooyr commented on #176
We only want to make sure the automatically created directory `~/.vscode`, has the right perms.

[2019-05-23 16:54] roberthmiller commented on #176
will open a PR in a second

[2019-05-23 17:26] nathanpotter commented on #182
Yeah I think a rename makes sense

[2019-05-23 17:28] #176 closed

[2019-05-23 17:42] yhyddr opened #186 "Failed to run "sail run cdr/sshcode""
### errors
![image](https://user-images.githubusercontent.com/32089134/58274176-e6c14a80-7dc4-11e9-807c-894d4a8b6826.png)
## env
macOS with
curl https://sail.dev/install.sh | bash
sail install-for-chrome-ext
and chrome install with extension
#176  i don't have code-server binary file and i don't download it . It's necessary to download it ?

[2019-05-23 17:44] nathanpotter commented on #186
I'll update the release to have that commit

No, sail will automatically download the code-server binary for you

[2019-05-23 17:45] nathanpotter commented on #174
What is the major use case for this? Have you found yourself removing the directory?

[2019-05-23 17:47] nathanpotter commented on #186
I just updated the release, so it should work now if you run `curl https://sail.dev/install.sh | bash`

[2019-05-23 17:48] roberthmiller commented on #174
I have found myself removing the directories (which is why I proposed the PR).

I am not sure if it should be merged in though, I was just going off of the suggestion that @coadler mentioned.

[2019-05-23 17:52] coadler commented on #183
You are probably sharing the `$HOME` env with the container

[2019-05-23 17:55] roberthmiller commented on #183
lol, I was.. my bad :cry:

[2019-05-23 17:55] #183 closed

[2019-05-23 18:08] roberthmiller commented on #109
I generally include `github.com`, `gitlab.com` in the project's path.

[2019-05-23 18:08] #174 closed

[2019-05-23 18:09] roberthmiller opened #188 "force deletion by default?"
Not sure if we should force deletion of an image. When running tests, I receive this error:
![image](https://user-images.githubusercontent.com/23535075/58276026-6c60de00-7d64-11e9-9e92-fe6f9c29e180.png)

[2019-05-23 18:12] #182 closed

[2019-05-23 18:14] roberthmiller commented on #180
It looks like it was not running `chown`... Can you try with a newer release?

[2019-05-23 18:38] roberthmiller opened #189 "hats: support dockerfile paths"
I was writing the documentation updates and realized that it is kind of weird that it requires a directory instead of accepting both. Is this an improvement that should be made? If so, I can create a PR for it.

[2019-05-23 18:48] nathanpotter commented on #189
That sounds good to me

[2019-05-23 18:52] roberthmiller commented on #189
WIll create a PR in a second

[2019-05-23 19:03] roberthmiller opened #190 "hats: hat per project"
Would it be "good practice" to have a hat per project?

[2019-05-23 19:06] roberthmiller commented on #177
was going to work on this, but my knowledge is still very vague of hats. If someone could pick it up, that would be good.

[2019-05-23 19:10] ammario commented on #190
Nope. Your hat should contain global personalization. If you find yourself in a situation where you want a hat for a particular project, I would wonder why you wouldn't just put those changes in the project's Dockerfile.

[2019-05-23 19:12] roberthmiller commented on #190
That makes sense.

[2019-05-23 19:12] #190 closed

[2019-05-23 19:14] roberthmiller opened #191 "post build initialization"
I have found myself every time rebuilding my sail fork and needing to run either:

- go get
- npm install

Is there a way to have a post-build shell script?

[2019-05-23 19:18] ammario commented on #191
There's a concept for a `.sail/on_open` file. This is a priority feature for sure.

[2019-05-23 19:23] nathanpotter commented on #191
You should be able to add an `ENTRYPOINT` to your hat Dockerfile that can do this

[2019-05-23 19:25] roberthmiller commented on #191
That is true. I have not tried this yet.. do you think that an `on_open` would be better than just adding an `ENTRYPOINT`?

[2019-05-23 19:27] nathanpotter commented on #191
Not particularly, I think it's probably better to stick with docker idioms when possible

[2019-05-23 19:28] roberthmiller opened #192 "`go get: permission denied`"
add `sudo chown -R user:root ~/go` to .sail/Dockerfile

This then allows using go get within a sail image.

Edit:
Fixed the chown group

[2019-05-23 19:28] roberthmiller commented on #191
Is the entrypoint overwritten by code-server?

[2019-05-23 19:33] roberthmiller opened #193 "Why are go modules turned off?"
in the .sail/Dockerfile, go modules are turned off, but there is a go.mod file and go.sum file.

[Go Github](https://github.com/google/go-github) not install because of it.

[2019-05-23 19:41] nathanpotter commented on #191
Ah, I guess I misunderstood how `ENTRYPOINT` worked, yeah having a `.sail/on_open` sounds good to me

[2019-05-23 19:42] ammario commented on #191
should be implemented by @nhooyr ... he's most comfortable with the typescript code

[2019-05-23 19:43] nathanpotter commented on #175
Yeah I agree, I'll add a card to the board for passing ENVs and ENV mounts

[2019-05-23 19:46] roberthmiller commented on #191
Would this be a shell script?

[2019-05-23 19:49] ammario commented on #191
It would be an executable file

[2019-05-23 19:50] roberthmiller commented on #191
I am not understanding this properly then... `.sail/on_open` would be able to run arbitrary code from the user (or repo owner), correct?

[2019-05-23 19:54] nathanpotter commented on #188
Can you expand the test log output in order to show the stack trace and test context?

[2019-05-23 19:56] roberthmiller commented on #188
![image](https://user-images.githubusercontent.com/23535075/58282316-6292a700-7d73-11e9-9da3-b628c80d46cb.png)

[2019-05-23 20:00] roberthmiller opened #195 "Allow customization of git clone command"
I have 2FA on, which requires ssh keys. I have this setup within my sshconfig. Is there any way that we would change this to put a structured string like so: `git clone github:%v` in the `~/.config/sail/sail.toml` file? Of course, the `%v` would be replaced with the repo that is being run.

[2019-05-23 20:01] Magistern commented on #139
It says:
[code]

[2019-05-23 20:01] roberthmiller commented on #195
Note: This would also solve #156

[2019-05-23 20:01] roberthmiller commented on #139
Can we repoen this issue as it does not seem to be solved?

[2019-05-23 20:02] roberthmiller commented on #139
Also, @Magistern can you try to run sail now? Sometimes, there is a permission problem with the docker daemon upon initial installation. If you have logged out, and back in, the problem could potentially be fixed.

[2019-05-23 20:03] Magistern commented on #139
I'll restart the computer and try again then. See you soon.

[2019-05-23 20:17] nhooyr commented on #191
I'm not sure why we need this? Wouldn't you just put this in the project docker file?

[2019-05-23 20:23] Magistern commented on #139
nah, still the same error:
[code]

[2019-05-23 20:23] roberthmiller commented on #191
A start script will not work within the projects Dockerfile because you do not have the files at the time that the image is building. A start script would allow you to have access to the files (package.json, go mod, etc...) allowing you to, on container start, to run `go get` or `npm install`. It is a burden to, every time I start a container (or rebuild it) to do this.

[2019-05-23 20:25] roberthmiller commented on #139
This is different than the second error that you provided, but the same as the first. Let's see what we can do here...

Do you have the latest version of sail? If so, can you provide me with `sail version`?

[2019-05-23 20:27] Magistern commented on #139
[code]

[2019-05-23 20:28] Magistern commented on #139
is there another way of figuring out?

[2019-05-23 20:29] roberthmiller commented on #139
That just means that you are not on the latest version (which provides more detailed error messages).

Can you run this for me:
`curl sail.dev/install.sh | bash`

[2019-05-23 20:32] Magistern commented on #139
Then I get this:
[code]
it didn't update right?

[2019-05-23 20:35] linux-china opened #196 "To get repo language is not necessary for none github.com repository"
If you use Sail to run project on your internal git hosting, for example:
[code]
and Sail still call "get repo languages api"  and generate 404 not found error.

[code]

Please remove repo language REST API call for none github.com project.

[2019-05-23 20:35] Magistern commented on #139
I did this `curl https://sail.dev/install.sh | bash` instead and now...
IT WORKS! Heureka 😄

[2019-05-23 20:37] nhooyr commented on #139
@Magistern Glad you worked it out. The reason the first command didn't work is because sail.dev tried to redirect you to https. You should never curl a non HTTPS url and pipe it into bash, always use `https` otherwise you're opening yourself up to a MITM attack.

[2019-05-23 20:40] Magistern commented on #139
😳 Oh, thanks for the advice

[2019-05-23 20:45] roberthmiller commented on #196
This is only done when there is no `.sail/Dockerfile` within the cloned repo since at that point, it tried to guess.

[2019-05-23 20:46] roberthmiller commented on #139
ah, that's true. My bad.

[2019-05-23 20:47] roberthmiller opened #197 "Remove github.com requirement"
Currently, there is a GitHub SDK within the code. If there is no `.sail/Dockerfile`, the base `codercom/ubuntu-dev` image should be used.

[2019-05-23 20:48] roberthmiller commented on #197
/cc @nathanpotter @ammario

What are your thoughts on this?
Re: #196

[2019-05-23 20:49] Magistern commented on #139
Thank you all for bearing with me. Btw, how do you stop it?

[2019-05-23 20:51] roberthmiller commented on #139
Stop the sail instance?

[2019-05-23 21:13] roberthmiller commented on #191
Also, does this belong on the `General 1` board?

[2019-05-23 22:09] nathanpotter commented on #197
I think it'd be better to just verify that the repo host is github before making the call to the API

[2019-05-23 23:28] nathanpotter commented on #195
By default sail clones via ssh, so if you were to run `sail run cdr/sail`, it will expand the clone command to:
`git clone ssh://git@github.com/cdr/sail.git`

[2019-05-23 23:39] roberthmiller commented on #195
For me, it needs to be ssh://github:cdr/sshcode

[2019-05-23 23:49] roberthmiller commented on #195
of course, I can simply change it but just thought that customization of the command would be good (so I did not have to).

[2019-05-24 00:29] roberthmiller commented on #197
will throw together a PR tomorrow.

[2019-05-24 00:30] roberthmiller commented on #195
I changed it. I still think that it is good for non-github users for example. re: #128

[2019-05-24 00:33] #195 closed

[2019-05-24 00:56] coadler commented on #72
Half of the problem solved here: https://github.com/cdr/sail/pull/198

Some additional thinking will need to be done on default behavior when opening subdirectories so I pulled them apart

Mainly, what to do when a user opens a subdirectory of an already running container. I thought up 3 possible solutions but would like some feedback.

1. Remove the existing mount and remount the given new subdir

[2019-05-24 01:09] coadler commented on #128
BitBucket should already be supported

[code]

[2019-05-24 01:13] coadler commented on #128
You're also able to change the default host in the config

So `sail run username/repo` will expand to `sail run bitbucket.org/username/repo` instead of `sail run github.com/username/repo`

[2019-05-24 01:15] roberthmiller commented on #128
so, I could have just changed it to `sail run github/org/repo?

[2019-05-24 01:16] coadler commented on #195
This is already configurable via the `default_host` key in the config

[2019-05-24 01:19] sr229 commented on #180
Feel free to @roberthmiller, this will help us reach a greater audience if we can get this to work right now.

[2019-05-24 01:22] coadler commented on #128
I forgot you needed a schema if you provide a host to `sail run`

It would be `sail run ssh://github/org/repo`

[2019-05-24 01:28] roberthmiller commented on #128
I ended up changing it anyway because it is easier to go with the grain than against.

[2019-05-24 01:37] coadler commented on #197
This might be tricky since you'll have to parse the `.git` folder in the project for the host

[2019-05-24 01:39] roberthmiller commented on #197
Can't we just add a regex for github.com?

[2019-05-24 01:41] coadler commented on #197
I think that sets a bad precedent if we want to add logic based on the host

[2019-05-24 01:45] roberthmiller commented on #197
I think this will actually be kind of tricky now that you bring it up.

[2019-05-24 01:48] roberthmiller opened #199 "chrome app window does not open on macos"
When using my laptop, the chrome app window does not show.

I am able to visit the URL, but it is more of a convenience feature to have the app window be displayed.

Any thoughts on this?

[2019-05-24 01:49] coadler commented on #197
I think a good first step would be to see how janky extracting the host from the `.git` folder would be

[2019-05-24 01:54] roberthmiller commented on #197
wouldn't we be able to just run:
[code]

This would display all of the hosts, we could split by `\n`, then use the endpoints there?

[2019-05-24 05:18] linux-china opened #200 "sail oh-my-zsh plugin"
Not bug or feature, and just implement sail command completion with oh-my-zsh.  Make life easy :)

https://github.com/linux-china/sail-oh-my-zsh

![image](https://user-images.githubusercontent.com/46711/58304326-9f2cc580-7da8-11e9-9b0d-cc5f002660bc.png)

Free to use or copy.

[2019-05-24 07:10] deansheather commented on #197
`.git/config` is where git stores all of the remotes in a format that seems ini-ish:
[code]

I think it'd be much easier to just parse the output of `git` directly as roberthmiller pointed out, as if they're working with Git in the first place it's very likely that they have git installed on their system.

[2019-05-24 11:11] roberthmiller commented on #197
We could always check (although, a prerequisite to sail is git)

[2019-05-24 14:00] coadler commented on #197
git remote -v sounds good to me

On Fri, May 24, 2019 at 6:11 AM Robert M <notifications@github.com> wrote:

[2019-05-24 22:21] roberthmiller commented on #197
So, what do you think that the solution should be? Should we have a regex for the remotes? If there is a GitHub* remote, we should use it. Is that an ideal solution? Although, this solution is not very good since you can have a remote that looks like `git:cdr/sail` and it would be aliased as github.com in the ssh config. What are your thoughts on this?

[2019-05-24 22:30] roberthmiller opened #201 "chrome extension: failed to run `docker info`"
I think that we should better display that sail failed to start. Currently, the popup window (black terminal in browser) opens/displays the text/exits without me being able to fully note the error. Not sure that should be the expected behavior.

Edit:
As a note, on MacOS, this is a problem. On my Linux machine, sail runs beautifully.

[2019-05-25 01:53] linux-china commented on #200
close. :)

[2019-05-25 01:53] #200 closed

[2019-05-25 05:18] yurivict opened #203 "github.com/docker/docker redirects to github.com/moby/moby"

[2019-05-25 07:56] deansheather commented on #197
I think just parse the output of `git remote -v` if `git` is exists, and if it has a URL beginning with `https://github.com/` or `git@github.com:` then try to get the language from GitHub. If people have aliased GitHub to something else it won't work, but I don't think many people do that anyways.

[2019-05-25 08:11] yhyddr commented on #186
fine, It's OK

[2019-05-25 08:11] #186 closed

[2019-05-25 08:20] yhyddr opened #204 "sail give me a wrong port by docker port map"
i run `sail run cdr/sshcode`
and it works until give me a message

       2019-05-25 16:09:23 INFO	please visit http://127.0.0.1:59910
and I can't visit it until i run
`docker ps`
and get correct port

          a42a5b5a5eaf        cdr_sshcode                 "bash -c 'set -euxo …"   25 seconds ago      Up 20 seconds       127.0.0.1:32772->8443/tcp           cdr_sshcode

ok ,I can use vscode on ss

[2019-05-25 08:39] deansheather commented on #162
Chrome extension APIs don't support registering custom protocol handlers, only Chrome apps do (which have been deprecated on all platforms except ChromeOS).

One way it could be done however is some sort of URL handler built into the extension. Basically, we'd reserve a subdomain or path of `sail.dev` for the extension which would intercept these requests and run sail.

Example: `open-in.sail.dev/

[2019-05-25 08:45] deansheather commented on #203
Docker got renamed to Moby a while ago, so this is just a redirect on GitHub's side so old links still go to the right place. Is there a link somewhere that goes `docker/docker` instead of `moby/moby`, or is this affecting `sail` in some way?

[2019-05-25 08:47] yurivict commented on #203
You need to rename ```docker/docker``` to ```moby/moby```.

[2019-05-25 08:54] deansheather commented on #203
If you're referring to the imports we use in our code, the Moby codebase still uses `docker/docker` so we need to use `docker/docker` in our code as well.

[2019-05-25 09:20] yurivict commented on #203
Ok, thanks.

[2019-05-25 09:20] #203 closed

[2019-05-25 14:12] roberthmiller commented on #197
ok, I will put together a PR together when I get sail to work on my mac (since I am away from my desktop).

[2019-05-25 14:29] roberthmiller opened #205 "Why does cmd + r rebuild the container?"
I was trying to reload the browser to get an extension to work (go tools). It rebuilt the container, so I now have to install them again. Just curious what the thought process was when implementing that.

[2019-05-25 21:45] ammario commented on #205
cc @nhooyr

[2019-05-25 21:55] nhooyr commented on #205
Ah that is unfortunate. I thought cmd+r was the most appropriate shortcut because it is usually used to mean "rebuild" but I didn't realize it conflicts with the browser. Will fix this by adding alt to the keybind.

[2019-05-25 23:15] roberthmiller commented on #205
Yea, guess alt would be the best. Thanks 😊

[2019-05-26 17:21] roberthmiller opened #206 "stop a docker container and run without requiring a rebuild"
I work on a lot of repos, so stopping the container and rebuilding is a huge waste of time. How can I stop the docker instance and spin it back up with `sail run`?

[2019-05-26 20:06] roberthmiller commented on #206
Proposed option: create a `stop` command, so people can run `sail stop org/repo`

[2019-05-26 20:09] roberthmiller opened #207 "default organization?"
Any thoughts on implementing a "default_organization" key within the `sail.toml` config file?

[2019-05-30 21:31] khoomeister opened #208 "Package is invalid. Details: 'Could not load extension icon 'logo128.png'.'."
Repro:

1. https://chrome.google.com/webstore/detail/sail/deeepphleikpinikcbjplcgojfhkcmna
2. Click "Add to Chrome".
3. This message comes up:

![image](https://user-images.githubusercontent.com/681288/58666222-91ff6180-82e7-11e9-9fad-229995fbca8e.png)

Using Chrome stable - LMK if I can post more debug info!

[2019-05-31 19:46] stratosgear commented on #179
Hi,

I get permission errors while doing even a `docker ps`.

I followed the instructions from https://sail.dev/docs/guides/docker-in-docker/ to install docker, btw.

I also noticed that the `user` user does not belong to the `docker` group. Not really sure what is the right procedure if you install the docker client only, like I did.

Nonetheless I tried to add the user to the docker group, from

[2019-05-31 20:23] roberthmiller commented on #179
If you do this, then you are unable to use docker on the host machine.

[2019-05-31 21:48] stratosgear commented on #179
Why is that? I have no issues using docker in the host machine.

[2019-06-01 18:41] yohcop opened #209 "/usr/bin/code-server: Permission denied"
I have a very simple .sail/Dockerfile in my project:

[code]

But when I run sail, I get permission denied on code-server.

[code]

The weird thing is if I run `sudo docker run -it yohcop_tri-report bash`, and then try to run `/usr/bin/code-server`, with with all the flags (except --extra-extensions-dir, which seems to be problematic), it starts fine. I also checked the permissions, and they are s

[2019-06-04 15:00] ammario commented on #208
@kylecarbs this can be closed now, right?

[2019-06-05 03:45] deansheather commented on #208
The extension on the Chrome Web Store still has this error.

[2019-06-05 09:37] deansheather commented on #206
Maybe a flag for `sail run` like `--no-rebuild` to prevent rebuilding would be more approapriate.

[2019-06-05 13:44] deansheather commented on #205
Wanted to make a PR for this, but it seems that if you change the key binding to Ctrl+Alt+R (via `sail.js`) it doesn't work in Firefox (works in Chromium, however). Upon further inspection, it looks like Alt just doesn't work in code-server in Firefox, so maybe we should pick a different keybind.

Made a bug report on code-server for Alt not working: https://github.com/cdr/code-server/issues/749

[2019-06-05 14:40] jefflindholm opened #210 "Trying to run in WSL"
2019-06-05 10:13:11 ERROR       build run failed: failed to run container: failed to create container: Error response from daemon: invalid mount
config for type "bind": bind source path does not exist: /home/jeffl/.config/Code

The path does exist and the permissions seem fine, any way to get the docker details it is trying to run? There is nothing in the logs.

[2019-06-07 02:40] deansheather commented on #210
Docker's running in Windows right? If that's the case, sail is passing Docker Windows a unix style path instead of a Windows style path for binding your VSCode configuration folder to code-server's configuration folder.

We don't officially support Windows, but this should be pretty easy to fix.

[2019-06-07 05:49] deansheather commented on #210
Looks like getting sail to work in WSL will require a few workarounds. I don't have Windows or WSL myself to test any of these, but from what I can tell you'll need to do the following steps:

0. Checkout `wsl-compatibility` (from the above PR) and build it

1. Add the following to `/etc/wsl.conf` (create it if it doesn't exist, this will move `/mnt/c` to `/c` which Docker can read [apparently](ht

[2019-06-07 05:52] deansheather commented on #207
That sounds good to me. I think many people will be using sail mostly on their own projects, so being able to do `sail run project` instead of `sail run deansheather/project` would save a decent amount of keystrokes over time.

[2019-06-07 13:34] roberthmiller commented on #206
How about stopping the container?

[2019-06-08 14:07] linux-china opened #212 "Add codercom/ubuntu-dev-llvm8 docker base image"
LLVM & Clang are very import for some development, for example WebAssembly, Rust etc. It's a little complicated to install LLVM 8 on Ubuntu for junior.  Now we have codercom/ubuntu-dev-gcc8, and could we add codercom/ubuntu-dev-llvm8 on Docker hub.  thanks.

I have tried some LLVM images from docker hub, but these images not based from  codercom/ubuntu-dev, still some bugs, for example, sudo comma

[2019-06-09 09:16] deansheather commented on #212
Created a PR (link above) that contains an llvm-8 image.

[2019-06-10 11:47] yhyddr opened #214 "sail's chrome extension performance error"
when visit a GitHub repository that may use sail
if you visit another page and back to repo page. There are one more `open in sail` button on it.
like this
![image](https://user-images.githubusercontent.com/32089134/59193532-99145280-8bb8-11e9-85d6-1bfbab9383b4.png)

[2019-06-11 07:08] deansheather commented on #214
Duplicate of #157.

[2019-06-11 07:08] #214 closed

[2019-06-11 15:05] #212 closed

[2019-06-11 15:19] nathanpotter commented on #212
The image should be pushed up to docker hub now

[2019-06-11 15:27] linux-china commented on #212
Great. thanks :)  https://hub.docker.com/r/codercom/ubuntu-dev-llvm8

[2019-06-11 20:48] linux-china opened #215 "Failed to start container with v1.0.4"
After upgrade to v1.0.4, and I got the following errors:
[code]
it's good with v1.0.3.

[2019-06-11 21:09] nathanpotter commented on #215
Looking into this now, could you give some more details about the environment you're running in, and any other details you think may be helpful in debugging?

[2019-06-11 21:43] linux-china commented on #215
My development env:
macOS Mojave 10.14.6
Docker desktop for Mac 2.0.4.1(34207)
Docker Cli version 19.03.0-beta3, build c55e026

and My demo is here https://github.com/linux-china/sail-demo

[2019-06-11 22:05] nathanpotter commented on #215
Ok thank you, I was able to reproduce this as well on a macbook, I'll investigate and get a fix in to resolve this

[2019-06-11 22:27] nathanpotter commented on #215
closed via #216

Thanks for submitting the issue, I updated the release with a patch to fix this issue

[2019-06-11 22:27] #215 closed

[2019-06-12 07:39] zaykl commented on #208
any progress for this issue?

[2019-06-13 07:11] deansheather commented on #210
@jefflindholm Could you please try again with the [newest release](https://github.com/cdr/sail/releases/tag/v1.0.4), following the workarounds I listed above and let me know how that goes? It's possible I missed something.

[2019-06-13 07:19] deansheather commented on #204
I'm unable to reproduce this on my machine, could you check if it's still happening on the latest version?

[2019-06-13 07:20] deansheather commented on #196
Closing in favor of #197.

[2019-06-13 07:20] #196 closed

[2019-06-13 07:22] deansheather commented on #191
Maybe this should be a LABEL in the Sail image. Once the container is started, Sail could just read the label from the image and exec the contents of the label in the container.

[2019-06-13 16:50] jefflindholm commented on #210
Getting the same error with the bind. Docker for windows should work with volumes etc. It might be that the binds require relative directories to work, all my other docker commands I am using relative paths to mount WSL directories. I will try again when I can get WSL2 installed, where I can share directories across without issue.
Thanks for the attempt.

[2019-06-14 18:19] nathanpotter commented on #209
could you provide the output of the docker logs for the failed container startup?

[2019-06-15 13:30] deansheather commented on #210
I'm not too sure how WSL works, but maybe it's translating the pathnames to the Windows version before passing them to docker.

[2019-06-18 15:57] kylecarbs commented on #208
Fixed!

[2019-06-18 15:57] #208 closed

[2019-06-19 17:01] kami1019 commented on #197
hi . I have two site but cant com up in دانلود آهنگ جدید . please help . sites are [faazmusic.com](https://faazmusic.com/%d8%a2%d9%87%d9%86%da%af-%d8%b9%d8%a7%d8%b4%d9%82%d8%aa%d9%85-%d8%b3%d8%a7%d9%85%d8%a7%d9%86-%d8%ac%d9%84%db%8c%d9%84%db%8c/) And [ahangejadid.com](https://faazmusic.com/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%d8%a2%d9%87%d9%86%da%af-%d9%81%d8%b1%d8%b4%d8%aa%d9%87-%d8%a8%d8%a7%d8%

[2019-06-19 17:06] kami1019 commented on #204
I want everybody see my site . how can do it with code . sites are [فاز موزیک](https://faazmusic.com/) and [آهنگ جدید](http://www.ahangejadid.com/) and [آگهی رایگان](http://agahijavan.com/)

[2019-06-19 17:50] Anaud opened #220 "Docker-compose database"
How do I use docker-compose with sail ?
For example, how do I use a PostgreSQL database ? Directly in the sail container ?

[2019-06-19 22:18] lucacasonato opened #222 "Duplicated "Open in Sail" button after navigation"
After navigation you will have more than one "Open in Sail" buttons.
![image](https://user-images.githubusercontent.com/7829205/59805027-64a74180-92f0-11e9-88a9-64c7afefb518.png)

# steps to reproduce
1. Install extension
2. Go to any page
3. Go to github page in same tab
4. Navigate back to previous page
5. Navigate forward to next page

# fix
check if button exists before adding a new button

PR

[2019-06-19 22:40] lucacasonato commented on #141
Seems fixed. Close?

[2019-06-19 22:49] lucacasonato commented on #162
Seems like a cool idea. The path should not be GitHub only like shown above though, it should be any URL that Sail supports. Once the extension intercepts it should return a custom page with the console on it as this can not be injected into the page that has the button with this architecture.

[2019-06-19 23:30] linux-china commented on #220
Same question. How to access docker compose services from sail container? for example MySQL, Redis and PostgreSQL etc. If you want to run some unit tests, and this problem is very important. Any good suggestion?

[2019-06-20 00:06] nathanpotter commented on #220
You should be able to mount in the docker socket to give your sail container access to the docker daemon running on the host to create additional docker containers or startup docker compose services.

See: https://sail.dev/docs/guides/docker-in-docker/ for more details

[2019-06-20 00:08] #222 closed

[2019-06-20 00:12] #207 closed

[2019-06-20 02:51] deansheather commented on #162
@nathanpotter

[2019-06-20 02:52] #141 closed

[2019-06-20 15:19] roberthmiller commented on #197
@kami1019 Not sure what your problem is... Can you elaborate a little bit?

[2019-06-20 18:39] lucacasonato commented on #157
Oops duped by #222. That is fixed by #224 so this can be closed.

[2019-06-20 19:00] #157 closed

[2019-06-20 20:25] lucacasonato commented on #162
I have thought about this some more and have come to the conclusion that the above option has some limitations.
1. You are navigating the user away from the page. This does not match how Github and Gitlab work. There you stay on the page.
2. The console has to be shown on a new page, either at open.sail.dev or an extension page, not the one you are pressing the button on. This does not match how t

[2019-06-21 00:14] deansheather commented on #162
If a website hijacked clicks and made them open a malicious Sail repo in the background this would be dangerous. For example, I could make a Sail repository `deansheather/project` mount the entire filesystem of the host into the container and then once the container starts change the user's `/etc/resolv.conf` to point to my malicious servers.

I agree that it would be cool to be able to customize

[2019-06-21 00:15] deansheather commented on #162
For security, the subdomain idea would require the site to be accessed in a new browser tab or window, which means that the parent page can't put it in a hidden iframe. If the user was paranoid, we could add a configuration option that additionally require them to click on a button on the sail page.

[2019-06-21 02:13] roberthmiller commented on #162
Do you guys think that custom options within the `href` would be a good idea?

Example:
`https://open.sail.dev?console=***&etc..`

I think that would maybe be a good compromise for security and usability.

[2019-06-21 02:54] deansheather commented on #162
@roberthmiller The security issue is being able to embed the console in the current page and being able to control sail programmatically. Moving `sail-console` to a query parameter doesn't make it more secure, as the console will still be embedded on a potentially malicious website.

[2019-06-21 03:00] roberthmiller commented on #162
Am saying to not have the console show on the remote side, but instead have it show on `open.sail.dev`

[2019-06-21 14:14] lucacasonato commented on #162
We already inject our content script into all sites, but I see your point. Although currently any page can implement their own "Open in Sail" button already, because the button is injection based on surrounding elements and not based on the domain. If I have a page an element with the css class `project-repo-buttons` and an input element with the id `http_project_clone` the extension will inject a

[2019-06-21 18:22] #189 closed

[2019-06-22 12:45] sr229 commented on #209
@nathanpotter we don't need the docker logs, the logs alone above already tells the issue.

Looks like the code-server binary has no executable permissions, you should open a issue in [cdr/sail](https://github.com/cdr/sail) as well for this since this is a sail-related issue.

[2019-06-22 12:48] roberthmiller commented on #2
The adding of CI has since been added, but I am unsure why my PRs do not get automatically tested. Any ideas?

[2019-06-22 12:49] sr229 commented on #210
@deansheather WSL is just translation layer for the Linux syscalls to the NT syscalls, I think we should only support WSL2 since Windows will be using a entire kernel by default.

[2019-06-22 14:17] roberthmiller commented on #220
Doesn't sail by default use the host network? If you spun up a Docker container that contains the Postgres instance (within the host terminal), you should be able to connect to it via `localhost: 5432` from within the sail instance.

An idea for sail would be to include a docker-compose like file within the `.sail` directory which will allow Sail to not bind to the host's ports and spin up all the

[2019-06-22 16:57] linux-china commented on #220
@roberthmiller  great idea.   Now sail is great to setup dev environment,  but for development we need some services, such as mysql, redis or mongo etc.  Could wee add reverse listener in Sail container, and you can access any outside services.

[code]

[2019-06-22 17:03] roberthmiller commented on #220
Currently, I am leaning towards all of the containers being required to use the same network as Sail. Do you have a use case that would make this a non-starter?

[2019-06-22 17:13] linux-china opened #229 "Egress proxy support in Sail"
Thoughts from https://github.com/cdr/sail/issues/220  If you want to access services out of Sail container, for example services started from your project's docker-compose.yml, services started from brew or services in your local network.  Add share.egress label to enable egress TCP proxy like following, and you can access from localhost, and it's easy. for example, just redis-cli.  For some VS Co

[2019-06-24 04:43] deansheather commented on #2
@roberthmiller #36 got closed due to inactivity, so Sail doesn't have CI yet. If you'd like to make a new PR to add CI stuff that would be greatly appreciated.

[2019-06-24 05:34] deansheather commented on #220
I think the main reason we use host network instead of regular network is so you don't need to bind ports ahead of time. If I span up a web server in my container and didn't have the port binded to the host, I wouldn't be able to access it. You can't add ports to created containers, so I would need to recreate the container entirely to access my webserver.

I'm a fan of a docker-compose extension

[2019-06-24 19:25] roberthmiller commented on #220
Instead of it accessing the host network, we might be able to create a bridge network with some ports being published. This could potentially be a label: `share.ingress`. I think that having a docker-compose file created within a defined network would be a great idea, but not sure how the implementation would work.

[2019-06-24 19:28] roberthmiller commented on #2
Didn't see that, What CI will be used? Travis?

[2019-06-24 21:11] deansheather commented on #2
Yeah, we use Travis whenever we can.

[2019-06-25 19:09] roberthmiller commented on #229
I think this issue should also be for ingress traffic if we have a bridge network.

[2019-06-27 15:25] #192 closed

[2019-06-27 15:25] #193 closed

[2019-06-27 15:28] ammario opened #232 "buildpush broken"
[code]

[2019-06-27 15:48] #232 closed

[2019-06-27 15:49] nathanpotter opened #234 "Turn go modules on in ubuntu-dev-go instead of sail/Dockerfile"

[2019-07-01 15:16] #234 closed

[2019-07-01 22:21] #191 closed

[2019-07-07 06:02] deansheather commented on #229
If we want to change it to a bridge network, I think we should just let the user decide which networks to add the container to using labels. And for port forwarding to the host, we could just automatically forward any `EXPOSE` statements to the host on the same port (or a random port if it's not available).

[code]

The problem with this, however, is that we don't have a standard way of ensuring e

[2019-07-17 14:59] deansheather commented on #220
Running the sail containers with host network definitely hurts reproducabililty, so if we can switch to docker networking it would be great. Apparently there was an issue that was encountered when sail was being developed that lead to host networking being used instead of docker networking.

[2019-07-17 15:00] ammario commented on #220
host network is used for best interop with current developer workflow. E.g devs can still access their webapp on localhost, and don't have to finagle with port mappings.

[2019-07-17 15:02] deansheather commented on #229
Had a chat with Kyle, we definitely recommend running services like databases *inside* of the sail container, as it improves reproducability dramatically.

I think if we do end up changing to container networking, it's definitely a good idea to allow for adding the container to bridge networks for any cases that do need it.

[2019-07-17 15:13] deansheather opened #237 "[Security] Approved hosts mechanism (GH-227 follow up)"
Now that GH-227 has been merged, we need to implement some way of allowing the open in sail button to be injected into third-party GitHub enterprise or GitLab self-hosted instances.

Kyle and I had a meeting to discuss this, and the way we decided on was allowing the button to be injected into any site that appears to be GitHub or GitLab like we used to. When the user clicks on the button, the con

[2019-07-17 15:15] deansheather commented on #237
Interested on hearing any thoughts or concerns about this from the people who were originally involved in the discovery/fix before I begin working on it tomorrow.

[2019-07-17 15:41] roberthmiller commented on #220
Ah, I think that if we went ahead created an ingress proxy for all of the containers running within sail, etc.. that it would not be too bad of a situation since this would allow for use like normal when developing an API or web app.

[2019-07-17 15:44] lucacasonato commented on #237
I like this idea. Having the user add hosts via the popup seems like a good idea.

[2019-07-17 15:47] roberthmiller commented on #237
The idea seems sound. I am not sure that storing the hosts within the extension is fine, but if not, we can cross that bridge when we come to it.

[2019-07-17 15:48] roberthmiller commented on #229
Yea, I like the idea of adding databases to sail for reproducibility. I recently stopped using sail and started using docker-compose for this reason. Will definitely go back once these are added.

[2019-07-17 15:56] lucacasonato commented on #237
The extension is an isolated environment so storing confidential data there
is fine. That is why browser password managers work.

On Wed, Jul 17, 2019 at 5:47 PM Robert M <notifications@github.com> wrote:

[2019-07-17 16:01] roberthmiller commented on #237
Had a feeling, but I never have worked in a chrome/browser environment.

[2019-07-25 00:06] Merith-TK opened #239 "Unable to install with msys"
I get this issue while installing, using instructions from https://sail.dev/docs/installation/
``build go.coder.com/sail: cannot load go.coder.com/sail/internal/editor: no Go source files``

any idea why?
[code]

[2019-07-25 00:15] Merith-TK commented on #239
And please do ignore my username.

On Wed, Jul 24, 2019, 5:06 PM Merith <notifications@github.com> wrote:

[2019-07-26 03:08] roberthmiller opened #240 "Makefile"
A makefile should be added to the repo in order to ensure that when installing the application, the user does not have to know all of the steps...

Something that I would find when helping people out is a `make install`.

Thoughts?

[2019-07-26 14:00] deansheather commented on #240
Feel free to make a PR for one. The make step would just run `go build -o sail .` and the install step would copy it to `/usr/local/bin/sail`.

[2019-07-26 14:03] deansheather commented on #239
[code]

Sail only supports Linux and Darwin. If you look in [sail/internal/editor/editor.go](internal/editor/editor.go) you'll notice that it is setup so it only builds on Linux and Darwin.

Please refer to #210 and #151.

[2019-07-26 14:03] #239 closed

[2019-07-26 14:24] roberthmiller commented on #240
Had a feeling that everything would be cool. Just thought to see what people thought before doing it.

[2019-07-26 19:18] roberthmiller commented on #239
What is the reason why it only builds on linux and darwin? Is there a specific thing that is blocking it from being built on windows? * beside the derivatives at the top of the file*

[2019-07-26 21:58] deansheather commented on #239
Not sure. It's probably because most Linux distros (and Darwin) include vim out of the box. Windows doesn't have vim or any other good editor out of the box.

cc: @ammario

[2019-07-27 21:05] roberthmiller commented on #239
Notepad:tm:

[2019-07-27 22:39] ammario commented on #239
I don't think there's anything preventing it from being built or ran on Windows. Just need to try and and see what happens.

[2019-07-27 23:53] Merith-TK commented on #239
I actually modified the parts the make it freak out, and gives me a random syscall error thing, will post outputs once windows finishes updating.

[2019-07-28 01:53] roberthmiller commented on #239
https://github.com/cdr/sail/blob/bcf906366e626d48e9722319c3d50b5d8c48ec02/internal/editor/editor.go#L12

It already uses the EDITOR env var.

[2019-08-01 21:27] gedw99 commented on #201
great that someone else is having the same issue as me !

i just installed sails and the extension and when i am on a github page it does the exact same thing.
It flashes open a window and dies before i can read anything in that window.
I am on a MAC.

Is there anything i am doing wrong ?

[2019-08-06 08:34] #240 closed

[2019-08-09 02:18] #237 closed

[2019-08-10 06:55] xtonex commented on #180
I am having the same issue. Is this going to be fixed in a future release ? Or can I use a workaround ?

[2019-08-11 13:50] xtonex commented on #180
I found the problem that caused this error on my side:
I inadvertently installed docker and/or sail with root user. So I uninstalled and reinstalled with the correct user. Now it works fine.

[2019-08-12 18:44] rgoomar commented on #177
I'd also like to see an improvement on the documentation here. It's not clear on how to get started or an example of a hat that adds something custom to the existing `.sail/Dockerfile`

[2019-08-13 14:26] #204 closed

[2019-08-13 20:34] joeblew99 commented on #201
any answers from the team ?

[2019-08-14 05:22] roberthmiller commented on #201
@deansheather @kylecarbs Thoughts?

[2019-08-14 16:16] deansheather commented on #177
Sorry about the lack of documentation regarding hats. You can check the [hat-examples](https://github.com/cdr/sail/tree/master/hat-examples) directory in this repository for a couple of simple hats you could use.

Then to install a hat, just put a `Dockerfile` in an empty folder somewhere on your computer. You can use `default_hat` in your configuration file or `sail run --hat path/to/hat`. The pa

[2019-08-31 05:58] ceo opened #242 "How to expose another port for a web app ?"
Hello community , how do i open a port for lets say the web app that im developing inside sail ??

lets say i run it using "npm run serve" and i want to access localhost:8000 to see the web being served

how to access this from my browser?

[2019-09-02 18:33] ceo commented on #242
Is there any way to use these params on sail?
![image](https://user-images.githubusercontent.com/39812139/64130158-e9094c80-cd96-11e9-9a14-3043af515db6.png)

[2019-09-04 19:04] gilsdav commented on #242
https://sail.dev/docs/concepts/docker/

[2019-09-19 21:27] linux-china opened #245 "repo as filepath does not work with rm command"
Now repo as filepath works for run, shell commands, but it does not support rm command.

[code]

and error as following for rm command.

[code]

[2019-09-29 10:33] MahmoudAljabary opened #246 "failed to wait for project to be online: container cdr_sail not running"
2019-09-29 10:31:44 INFO        using repo image cdr_sail
2019-09-29 10:31:44 DEBUG       host home dir: /root
2019-09-29 10:31:44 INFO        writing sail proxy logs to /tmp/sailproxy_cdr_sail281735327
2019-09-29 10:31:45 DEBUG       started container
2019-09-29 10:31:45 ERROR       failed to wait for project to be online: container cdr_sail not running
+ cd /home/user/go/src/go.coder.com/sail
ba

[2019-10-01 09:55] MahmoudAljabary opened #247 "Sail run same image (multiple but on different ports)"
I would like to:
Sail run same image (multiple but on different ports)
at this moment i don't see parameter to pass, something like --port would be helpful.
Any alternative option to achieve this goal?

[2019-10-29 16:53] barretlee commented on #201
Same problem, waiting for solution.

[2019-10-29 16:57] barretlee commented on #246
Check the user and user group whether it is 'root' at dir `~/go`, if so, try:

[code]

Then reload your webpage.

I got the same problem, and fixed in this way.

[2019-10-30 13:50] rogiervandenberg opened #248 "'server password' needed, but not documented"
When following the [Quick Start](https://github.com/cdr/sail#quick-start), there's Requirements, Installe, Verify, Run. But then, the container asks for a server password:

![image](https://user-images.githubusercontent.com/3534391/67863592-79a8a280-fb24-11e9-850b-84e1d9642221.png)

What to enter here, or where to set it? It is missing in the documentation.

[2019-11-04 16:24] donoskaro commented on #246
I have encountered the same issue. Operating System: `CentOS Linux release 7.7.1908 (Core)`.

[2019-11-05 13:01] 13916253446 commented on #201
Same problem, waiting for solution.

[2019-11-15 01:22] brandonkal opened #249 "[bug] No such container cdr_sshcode"
Attempted to give this project a go. It is clearly broken, at least on Docker for Desktop
macOS 10.13.6
docker version: 19.03.4

[code]
And the contents of said log file:
[code]
The image is built:
[code]

[2019-11-19 02:23] brandonkal opened #250 "cosmic no longer supported (EOL)"
I am sure you guys are aware of this, but hopefully this issue will help track the issue.

[2019-11-19 22:27] brandonkal opened #251 "License non-compliance"
Looking through the images directory, it is clear that code is lifted from the docker-library sources.

This clause from the BSD-3 licenses are specifically ignored:
- Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.

[2019-11-22 00:22] nhooyr commented on #38
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:22] #38 closed

[2019-11-22 00:23] nhooyr commented on #50
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:23] #50 closed

[2019-11-22 00:23] nhooyr commented on #52
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:23] #52 closed

[2019-11-22 00:24] nhooyr commented on #88
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:24] #88 closed

[2019-11-22 00:24] nhooyr commented on #93
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:24] #93 closed

[2019-11-22 00:24] nhooyr commented on #107
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:24] #107 closed

[2019-11-22 00:25] nhooyr commented on #122
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:25] #122 closed

[2019-11-22 00:25] nhooyr commented on #159
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:25] #159 closed

[2019-11-22 00:25] nhooyr commented on #160
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:25] #160 closed

[2019-11-22 00:25] nhooyr commented on #173
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:25] #173 closed

[2019-11-22 08:20] shiipou commented on #248
I've got the same, no solution for me at this time.

[2019-11-23 19:20] shah commented on #248
The password can be found by doing this on the host:

`docker logs <container_name>`

One of the lines in there will show:

Use XYZ as the password into the IDE

[2019-11-26 02:25] quanru commented on #249
+1

[2019-11-29 10:11] TeNNoX commented on #248
It's weird, as sail seems to run code-server with the **`--no-auth` flag**:
https://github.com/cdr/sail/blob/bcf906366e626d48e9722319c3d50b5d8c48ec02/runner.go#L173

[2019-11-29 11:03] TeNNoX opened #252 "Documentation's "apt-get" fails as the user is not root"
I copied from the [documentation](https://sail.dev/docs/concepts/projects/#configuration):
[code]

But the command fails:

Doing the same with sudo works:
[code]

[2019-11-29 11:38] TeNNoX opened #253 "ubuntu-dev-node12 is missing installext command"
When I use
[code]
I get the error:

Basing it on **`codercom/ubuntu-dev:latest`** works fine.

Would also be great to have the source Dockerfiles in order to deploy custom ones - e.g. a **ubuntu-dev-meteo**r image :+1:

[2019-11-29 11:44] TeNNoX opened #254 "installext successful, but extensions not installed"
After encountering #253, I realized that the installext command doesn't seem to work at all.

[code]

But in VSCode, the extension is not installed:
![Screenshot from 2019-11-29 11-43-25](https://user-images.githubusercontent.com/2084639/69867004-82b09f00-129d-11ea-88e2-65220dd58ad4.png)

[2019-11-29 11:49] TeNNoX commented on #248
I think **code-server** changed the flag to [**--auth=none**](https://github.com/cdr/code-server#authentication).

[2019-11-29 15:46] TeNNoX opened #256 "TypeError: Cannot read property 'action' of undefined in sail.js:73"
I get this error in the console on startup:

[2019-12-17 07:19] pcgeek86 opened #257 "Sail base images, based off Ubuntu 18.04 LTS for PowerShell development"
Hello,

I need to set up a PowerShell development environment, but PowerShell Core is only supported on Ubuntu 18.04 LTS, not 18.10. Would it be possible to create Sail base images that are based on Ubuntu 18.04 LTS, instead of 18.10, for this purpose?

https://sail.dev/docs/guides/adding-sail/

Cheers,
Trevor Sullivan

[2020-01-06 05:12] zibberzoo opened #258 "docker run works / sail run fails (failed to refresh code-server port...)"
I am using WSL 2 with Docker Desktop Edge (WSL 2 integration selected).

I can run images via docker from within my Ubuntu 18.04 WSL 2 instance; however, when running via sail, browsers fail to connect to 127.0.0.1:xyz for the port xyz reported by sail run.  The problem persists even when my firewall is turned off.  The log files show two and only two lines.  An example is:

2020-01-05 23:19:01 IN

[2020-01-07 20:46] smartexpert opened #259 "ERROR build run failed: failed to run container"
I've been trying to get sail to run. I can run code-server by itself but whatever repo I try to run from github ends up failing with permission denied. I've tried to run both as root and non-root users.

sail version = v1.1.0

sail.toml

[code]

[2020-02-19 19:15] oqu opened #260 "sail command retrieve wrong version of code-server"
sail command fetch latest release from github and get something like:
Found https://github.com/cdr/code-server/releases/download/2.1698/code-server2.1698-vsc1.41.1-alpine-arm64.tar.gz
Found https://github.com/cdr/code-server/releases/download/2.1698/code-server2.1698-vsc1.41.1-alpine-x86_64.tar.gz
Found https://github.com/cdr/code-server/releases/download/2.1698/code-server2.1698-vsc1.41.1-darwin-

[2020-02-19 19:17] oqu commented on #260
Work around is to replace "linux" with "linux-x86_64" and to 'go install' from sail source code.

[2020-03-05 17:27] Merith-TK opened #261 "Failed to Build image, Exit 100"
[code]
this is what i get when i try to edit my fork of sail (so that i can add a feature that i and im sure a few others would use)

[2020-03-05 17:28] Merith-TK commented on #261
output with `-v`
[code]

[2020-03-10 16:07] dougnukem commented on #261
I'm also running into this, it appears it might be related to Ubuntu 18.10 being a non-LTS release and only having a 9 month support window:
- https://fridge.ubuntu.com/2019/07/19/ubuntu-18-10-cosmic-cuttlefish-end-of-life-reached-on-july-18-2019/

- https://superuser.com/questions/1527250/apt-update-error-with-ubuntu-18-10-cosmic-version

Not sure if there's an easy fix to upgrade in the `.sail/D

[2020-03-10 16:15] Merith-TK commented on #261
We could see the difference between a base image and their image, and try to recreate it?

[2020-03-10 16:33] dougnukem commented on #261
This hack downgrades the `.sail/Dockerfile` to Ubuntu 18.04 LTS to avoid that error, but now I'm getting a new error in the Node code (maybe that needs to be pinned to a specific version too, it appears its an error on a deprecated method):

https://github.com/dougnukem/sail/blob/997bff4de75b992f34706d53d39a431090ed2eeb/.sail/Dockerfile#L4-L11

I think the real fix might be to downgrade the base d

[2020-03-10 17:02] Merith-TK commented on #261
maybe remove that command from the docker image? it looks like it just cant find that extension name,

[2020-03-10 18:12] dougnukem commented on #261
Looks like some of these underlying problems are reported as separate issues:
- https://github.com/cdr/sail/issues/254
- https://github.com/cdr/sail/issues/250

[2020-03-10 18:42] dougnukem commented on #257
Might also be able to upgrade to Ubuntu 20.04 (The latest LTS version that will be supported for awhile):
https://linuxconfig.org/how-to-install-powershell-on-ubuntu-20-04-focal-fossa-linux

[2020-03-10 20:13] dougnukem commented on #261
Hmm it looks like `sail` is downloading the latest linux release which now includes arm64 and amd64 architectures, so it's incorrectly downloading the arm64 AARCH one resulting in the error:

[code]

[code]

[2020-03-10 20:43] Merith-TK commented on #261
open a new issue?

[2020-03-10 20:46] dougnukem commented on #261
I think I've got a work around for all the issues, but it will require a new docker base image to be pushed
- https://github.com/cdr/sail/pull/262
[code]

[2020-03-10 21:02] Merith-TK commented on #261
Just a side note, when upgrading to your version of sail, i did have to prune my docker (not an issue, i can just re-download them as i am on my dev machine, not my production) due to a binary execution error, probably because of the issue you fixed

[2020-03-10 21:26] dougnukem opened #263 "RUN installext ms-azuretools.vscode-docker fails with 'not found'"
Installing the docker (https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker) vs-code extension fails:

[code]

[code]

Also fails with old name
[code]

It appears the docker extensions has been changed and renamed.
[code]

[2020-03-10 21:38] dougnukem commented on #263
Maybe related to code-server scraping extensions from github vs using the marketplace due to Microsofts restrictions:
- https://github.com/cdr/code-server/pull/113

[2020-03-10 22:07] dougnukem commented on #201
Same I'm getting the following error:
[code]

My `docker` is at:
[code]

MacOS 10.15.3 (19D76)

[2020-03-10 22:32] dougnukem commented on #201
One work around is to launch chrome from the terminal so it has the proper `$PATH`:
[code]

Then it works fine.

I think the more appropriate fix would be to modify `sail` binary to append `/usr/local/bin` to the `PATH` if it detects it's running on MacOS `darwin` to work around this common setup.

[2020-03-10 22:59] dougnukem commented on #201
Proposed fix for `sail` to include `/usr/local/bin` when running on MacOS to work resolve this issue:

https://github.com/cdr/sail/pull/264

[2020-03-11 16:34] Merith-TK commented on #261
also i noticed your path is windows? `/Users/douglasdaniels` ?? Can you
check if the folder `C:\var` was created??
—Merith

On Tue, Mar 10, 2020 at 2:02 PM Merith <notifications@github.com> wrote:

[2020-03-11 18:06] dougnukem commented on #261
@Merith-TK my host machine was MacOS, and my changes in that pr should only impact the docker virtual machine which is ubuntu linux based so i dont think there should be any issues on windows.

[2020-03-13 16:00] Merith-TK commented on #261
alright, that makes sense,

[2020-03-17 17:46] #201 closed

[2020-03-17 19:16] #250 closed

[2020-03-17 19:16] #260 closed

[2020-03-17 19:16] #261 closed

[2020-03-18 20:37] dougnukem opened #268 "New github release 1.1.1 or 1.2.0 needed for fixes"
For the fixes from #264 and #262 I think a new github release will need to be made for it to apply to the `sail` install instructions:

[code]

[2020-03-18 20:37] dougnukem commented on #268
/cc @deansheather

[2020-03-18 21:09] deansheather commented on #268
I'm working on pushing images now. I've run into a lot of problems, especially with the gcc and llvm images.

Once they all build and push I will commit my changes and release a new version

[2020-03-20 19:59] kunwarsahni01 opened #269 "ERROR failed to wait for project to be online: container cdr_sail not running"
On OSX 10.15.3 I have just installed sail and after attempting to run `sail run cdr/sail` I get this:
[code]

[2020-03-20 20:02] kunwarsahni01 commented on #269
Opening the chrome extension results in an fatal error as well.
<img width="1552" alt="Screen Shot 2020-03-20 at 4 01 22 PM" src="https://user-images.githubusercontent.com/22580992/77202155-27aced00-6ac4-11ea-8644-626984dc5694.png">

[2020-03-26 05:44] joshfng commented on #269
I'm experiencing the same thing

[code]

[2020-04-02 07:37] skymeyer commented on #269
Reproducible for both situations on OSX too using `sail run` and the error message when trying with the extension.

[2020-04-04 20:23] chafey opened #270 "sail run cdr/sail fails "Unknown option --data-dir""
OS: Ubuntu 18.04 LTS desktop (running in virtual machine)
Docker: 19.03.8
Git: 2.17.1

Here is the end of the console output:

[code]

[2020-04-05 19:33] chafey commented on #269
I ran into a similar issue #270 and I think this may be caused by the code-server dependency which just moved to a new major version 3.0.  I tried building and running the latest version of sail, but it still doesn't work.  This looks like a promising project, but the lack of backwards compatibility, testing and responsiveness to this is concerning...

[2020-04-05 19:34] chafey commented on #270
Building and running the master version of sail did not resolve this issue, but it did produce a new error:
[code]

[2020-04-06 01:42] chafey commented on #270
Digging into this more and am discovering some really strange things.  Sail depends on the docker image codercom/ubuntu-dev-go:latest which was updated on 3/18/2020 with digest 36afe0c005fc.  This image includes version 3.0.1 of code-server which was released 3/27/202 which is a whole 9 days AFTER the docker image was created.  How can a docker image include a piece of software that hasn't been re

[2020-04-11 20:45] duncanbeevers commented on #270
It looks like this should be resolved by https://github.com/cdr/sail/issues/268